header {text-align: center;}

#logo {
        text-align: center;
        }

img {
            width:15%; 
            height: auto;
        } 
#bordotop {
    background-color: #FDFBF1;
    border-top: 5px solid #FEF4D9;
}

h3 { color:#157A7A;}

#titoloricetta {
    text-align: center;
    margin:5%;
}

